
<div class="jumbotron">
    <div class="container">
        <h1>Welcome, world</h1>
        <p>Find me in app/views/welcome/index.html.erb</p>
    </div>
    <hr>
    <div class="container">
        <p>This is so awesome!!!</p>
    </div>
</div>